*{box-sizing: border-box;}
body{
    height: 100vh;
    margin: 0;
    background-color: darkslateblue;
    color: white;
    font-family: "Segoe UI";
}
h1{
    margin: 0 0 20px 0;
}
.container
{
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 40px auto 0 auto;
    background-color: #5645c7;
    text-align: center;
    padding: 20px 25px;
}
.zeile
{
    display: flex;


}
.zeile>*
{
    flex-grow: 1;
}
.zeile>input{
    padding: 5px 8px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    
}
.zeile>button
{
    padding: 5px 8px;
     border: none;
    outline: none;
    background-color: orchid;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.zeile>button:hover{
    background-color: #a72222;
}
#liste{
    margin-top: 20px;
}
#liste>div{
    padding: 6px 0;
    display: flex;
    justify-content: space-around;
}
#liste i:hover
{
    cursor: pointer;
}
