*{box-sizing: border-box;}
/* body{display: flex;
    justify-content: center;
    align-content: center;
flex-direction: column;} */
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input, button
{
    width: 230px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid #ccc;
}
button
{
    background-color: darkorange;
    cursor: pointer;
}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
#span
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box2
{
    width: 200px;
}