*{box-sizing: border-box;}
body{
    height: 100vh;
    margin: 0;
    background-color: darkslateblue;
    color: white;
    font-family: "Segoe UI";
}


input{
    padding: 5px 8px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    
}
button
{
    padding: 5px 8px;
    border: none;
    outline: none;
    background-color: orchid;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0 0 10px;
}

